// Default
* {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
	scrollbar-color: var(--button-hover) #FFFFFF10;
}

body {
 	background-color: var(--bg-color);
 	color: var(--body-color);
 	transition: all var(--transition-time);
 	font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
	margin:0;
	padding:0;
	line-height: 1.5;
	scrollbar-color: var(--button-hover) #FFFFFF10;

}

a:not(.button){
	color: var(--link-color);
 	transition: opacity .2s;
	&:hover {
		opacity: .8;
	}
}

a.button{
	text-decoration: none;
	color: var(--body-color)
}

.button {
	transition: color var(--transition-time);
	line-height: 1;
	font-size: var(--base-font-size-n);
}