.base-box {
	margin: 0 auto;
	padding: var(--space);
	max-width: var(--content-width);
}

// Used to wrap content inside a nice box.
.content-box {
	@extend .base-box;
	background-color: var(--bg-content-color);
	
	
	transition: background-color .6s;
	
	border-radius: var(--radius);
	box-shadow: 1px 1px 5px 0 rgba(0,0,0,.02), 1px 1px 15px 0 rgba(0,0,0,.03);
	transition: transform .3s, background-color .3s, box-shadow .6s;
}
