// Default variables
@import 'breakpoints';
html {
	--base-font-size: 1.4rem;
	--base-font-size-n: var(--base-font-size); // will not be smaller on small screens
}

// Light default theme
html {
 	--bg-color: #F3F7F9;
	--bg-content-color: #fff;
	--bg-color-alpha: #F3F7F9CA;
 	--bg-code: #fffbf3;
 	--body-color: #444;
 	--title-color: #111;
	--link-color: #6b17e6;
	--icon-button-color: #777;
	--button-bg-color: #E3E7E9;
	--button-bg-hover: #FAFEFF;
	--button-opacity: 0.7;
	--button-hover: #5ca904;
	--border-color:  rgba(0,0,0,.1);
	--space: 3.5rem;
	--space-n: var(--space); //will not be smaller on small screens
	--content-width: 150em;
	--header-height: 80px;
	--radius: 10px;
	--transition-time: 0.4s;


	--size-s: 17em; // 786px
	--size-m: 27em; // 1366px
	--size-l: 43em; // 1920 px
	--size-xl: 61em; // 2560px


	
}

// Make  things smaller for mobile
@media screen and (max-width: $bp-xs) {
	html {
		--base-font-size: 1.0rem;
	}
	body {
		--space: 1.5rem;
		--header-height: 60px;
	}
}

@media screen and (max-width: $bp-s) and (min-width: $bp-xs) {
	html {
		--base-font-size: 1.1rem;
	}
	body {
		--space: 1.5rem;
		--header-height: 60px;
	}
}


// Override variables for Dark theme
body[data-theme="dark"] {
 	--bg-color: #373239;
	--bg-content-color: #292731;
	--bg-color-alpha: #373239D9;
 	--bg-code: rgba(0,0,0,.3);
 	--border-color:  rgba(255,255,255,.1);;
 	--body-color: #ced8de;
 	--title-color: #fff;
	--link-color: #af9cef;
	--icon-button-color: #EEE; 
	--button-bg-color: #474249;
	--button-bg-hover: #292731;
}