<script>
export default {
	props: {
		cssClass: String,
		allowEmptyList: {
			type: Boolean,
			default: false
		}
	},
	render: function(createElement) {
		if(!this.$slots.default && !this.allowEmptyList) return undefined;
		const childs = (this.$slots.default || []).map((child) => createElement('li',{}, [child]));

		return createElement('ul',{class: this.cssClass}, childs);
	}
}
</script>

<style lang="scss" scoped>
@import '~/assets/style/_breakpoints.scss';
 ul {

	--margin: 1.3%;	
	//--width: 50%; 

	/*@media (max-width: $bp-s) {
		--width: 100%;
	}*/

	max-width: var(--bp-m);
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	
	margin: 0;
 
}

 li {
	 box-sizing: margin-box;
	 width: calc(var(--width) - 2*var(--margin);
	 margin: var(--margin);
 }
</style>
