<template>
	<Layout>
		<section class="base-box" v-html="$page.impressum.content">
		</section>
	</Layout>
</template>


<page-query>
	query {
		impressum:  text(path: "/content/text/legal-notice") {
			content,
		}
	}
</page-query>

